Source: confluent-kafka-connect-storage-cloud
Section: misc
Priority: optional
Maintainer: Confluent Packaging <packages@confluent.io>
Build-Depends: debhelper (>= 9), java7-jdk, javahelper (>= 0.40),
 make, maven
Standards-Version: 3.9.3
Homepage: http://confluent.io

Package: confluent-kafka-connect-storage-cloud
Architecture: all
Depends: confluent-common
Description: Kafka Connect Storage Cloud is a suite of Kafka Connectors for 
 copying data between Kafka and Cloud storage such as Amazon S3, Google Cloud 
 Storage or Azure Storage.
